img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body:after {
	content:"";
	position:fixed; /* stretch a fixed position to the whole screen */
	top:0;
	height:100vh; /* fix for mobile browser address bar appearing disappearing */
	left:0;
	right:0;
	z-index:-1; /* needed to keep in the background */
	background: url(../img/background.jpeg) center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	text-align: center;
}

.navbar {
	position: relative;
	overflow: hidden;
	text-align: center;
}

.navbar a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	text-align: center;
	font-size: 17px;
}

.navbar a:hover {
	background-color: #ffd100;
	color: black;
}

.navbar a.active {
	color: black;
}

.navbar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.navbar li {
	display: inline-block;
}

.navbar a {
	text-decoration: none;
	width: 100px;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

.navbar-right {
	float: right;
}

div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
}

div.gallery:hover {
	border: 1px solid #777;
}

div.gallery img {
	width: 100%;
	height: auto;
}

div.desc {
	padding: 15px;
	text-align: center;
}

* {
	box-sizing: border-box;
}

.responsive {
	padding: 0 6px;
	float: left;
	width: 24.99999%;
}

@media only screen and (max-width: 700px) {
	.responsive {
		width: 49.99999%;
		margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
	.responsive {
		width: 100%;
  }
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.table_center {
	margin-left: auto;
	margin-right: auto;
}