img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
body
{
	background-image: url("../img/background.jpeg");
	background-attachment: fixed;/*背景图片不会固定不会因页面滚动而重复*/
	background-repeat: no-repeat;/*使图片不管任何大小都不会重复*/
	background-size: 100%;/*改变背景图的长和宽*/
}